
# Use this file to store secrets like usernames and passwords.
# Learn more at https://home-assistant.io/docs/configuration/secrets/
afvalwijzer_zipcode: 1234AB
afvalwijzer_housenumber: 1

homeassistant_lattitude: 1.12345678
homeassistant_longitude: 1.12345678

http_base_url: https://my.home.assistant

lametric_client_id: 12345-67890
lametric_client_secret: 09876-54321

slack_api_key: xoxb-12345

home_connect_client_id: 123
home_connect_client_secret: 123

alarm_code: 1234

daikin_email: user@email.com
daikin_password: 123
